body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('fotowoltaika.jpg'); 
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.5s ease-in-out; 
    position: relative;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; 
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
}

/* Styl slajdów */
.slideshow-container {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide h2 {
    margin: 0;
    font-size: 28px;
}

.slide p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

.button:hover {
    background-color: #218838;
}

/* Styl kropek */
.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #28a745;
}
/* Styl dla tabeli informacji na stronie details.php */
.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.details-table th, .details-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.details-table th {
    background-color: #28a745;
    color: white;
}

.details-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.details-table tr:hover {
    background-color: #ddd;
}
